body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 767px) {
  header{
    padding-top: 20px;
    overflow: hidden;
  }
  header div {
    display: block !important;
  }

  header .row {
    margin: 0 0 20px;
  }

  header button {
    width: 100%;
    margin: 0 0 20px !important;
  }
}
